/* Stylesheet */

body{ 
	background-color: #FFC;
	font-family: 'Montaga';
	font-size: 1em;		
}

h1 {
font-family: 'Montaga';
}

li{
float: left;
margin-left: 3%;
margin-right: 3%;	
}

li:hover{
text-decoration: none;
list-style: none;	
}

.dropcap {
font-size: 3em;
float: left;
margin: -3.5% .01%;
}
	
#paragraph3, .paragraph1, #paragraph2, #paragraph4{
margin: 3%;
position: relative;
left: 1%;
text-align: justify;	
}

p{ 
font-stretch: expanded;
}

h4{
border-bottom: 5px black solid;
}

#footer {
border-top: 2px black solid;
margin: 2%;	
}

p {
font-family: Arial;
}


.grid_6 img{
width: 62%;	
}

.bombpic{
align: center;
}

